html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	min-width: 320px;
}

.header {
	box-shadow: 0 0 45px rgba(172, 170, 170, 0.374);
	margin-bottom: 20px;
}

.header__top {
	background-color: #00122f;
	padding: 8px 0 7px;
}

.container {
	width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	overflow: hidden;
}


.clearfix::after {
	content: "";
	display: block;
	clear: both;
	background-color: #f9f9f9;
}

.header-top__title {
	font-size: 16px;
	color: white;
}

.header-top__title a {
	color: white;
}
.header-top__datetime {
	float: right;
}


.header__middle {
	padding: 40px 0 34px 0;
	background: #FFFFFF;
}

.header-middle__logo {
	float: left;
  margin-right: 58px;
}

.header-middle__select {
	float: left;
}

.header-middle__select {
	margin-top: 12px;
	font-size: 16px;
	padding-right: 18px;
	background-image: url(../img/down-arrow-svg.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 10px 10px;
	color: #448ccb;
}

.header-middle__city {
	border-bottom: 2px dashed #448ccb;
}

.header-middle__datetime {
	float: left;
	margin: 12px 0 0 42px;
	color: #91919f;
}

.header-middle__datetime span {
	text-align: center;
	background-image: url(../img/clock-svg.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	margin-left: 25px;
	padding-left: 25px;
}

.header-middle__weather {
	float: left;
	margin: 4px 0 0 30px;
	line-height: 29px;
	background-image: url("../img/cloudy-svg.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 29px 27px;
}

.header-middle__weather span {
  padding-left: 40px;
  vertical-align: middle;
  font-size: 16px;
  color: #91919f;
  text-align: right;
}

.header-middle__search {
	position: relative;
	float: right;
	vertical-align: middle;
	width: 320px;
}


.header-middle__search input {
  width: 100%;
	line-height: 44px;
	padding-left: 20px;
	background-color: #f6f6f6;
  border-radius: 25px;
	border: none;
}
.header-middle__search input:focus {
	outline: none;
}

.search-header__button {
	position: absolute;
	cursor: pointer;
	top: 50%;
	right: 13px;
  width: 30px;
  height: 30px;
	transform: translateY(-50%);
	background-image: url(../img/search3-svg.png);
	background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
	border: none;
	outline: none;
  background-color: transparent;
}


.header__menu {
	margin-top: 0;
	padding-bottom: 35px;
	padding-left: 2px;
}

.header-menu__list {
	margin: 0;
	padding: 0;
}
.header-menu__item {
	display: inline-block;
}

.header-menu__item:before {
  content: "/";
  margin-left: 15px;
  margin-right: 15px;
  color: gray;
}

.header-menu__item:first-child:before {
  content: "";
  margin-left: 0;
  margin-right: 0;
}

.header-menu__item a {
	text-decoration: none;
	color: #000;
}


.main {
	background-color: #f9f9f9;
	padding-bottom: 30px;
}

.main__left {
	float: left;
	width: 250px;
	background-color: #FFFFFF;
	margin-right: 20px;
	overflow: hidden;
}

.main-left__title {
	font-size: 20px;
	padding: 22px 0 22px 18px;
	margin: 0 0 24px;
	border-bottom: 1px solid #e5e5e5;
}

.main-left__news {
	margin-left: 0;
	padding-left: 18px;
	list-style-type: none;
}

.left-item__title {
	margin-bottom: 12px;
}

.left-item__title a {
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: #000;
}
.left-item__props{
	font-size: 12px;
	padding-bottom: 12px;
}

.left-props__category {
	float: left;
	color: #91919f;
	text-decoration: none;
}

.left-props__right {
	float: right;

}

.left-props__time {
	padding-left: 15px;
	padding-right: 16px;
	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
}

.left-props__comment {
	padding-left: 15px;
	padding-right: 38px;
	background-image: url('../img/icon-comments.png');
	background-repeat: no-repeat;
}

.main-left__button {
    margin-top: 40px; 
    padding-bottom: 45px;
    text-align: center;
}

.main-left__button button {
	width: 177px;
  height: 45px;
  border-radius: 22px; 
	border: 1px solid #448ccb;
	outline: none;
	color: #448ccb;
	background-color: #FFFFFF;
	cursor: pointer;
}

.main__center {
	width: 460px;
	float: left;
	margin-right: 20px;
	overflow: hidden;
}

.main-center__news {
	margin: 0;
	padding-left: 0px;
	list-style-type: none;
	overflow: auto;
}
.main-center__news li {
	overflow: auto;
}



.center-top {
	float: left;
	position: relative;
	width: 460px;
	margin-bottom: 8px;
  overflow: hidden;
}

.center-top a {
	text-decoration: none;
	color: #FFFFFF;
}


.center-top__title {
	position: absolute;
	top: 130px;
	width: 345px;
	padding-left: 20px;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;	
}

.center-top__category {
	position: absolute;
	top: 111px;
	padding-left: 22px;
	color: #FFFFFF;
	font-size: 12px;
}

.center-top__time {
	position: absolute;
	color: #FFFFFF;
	top:268px;
	padding-left: 20px;
	font-size: 12px;
}


.center-top__time span {
	text-align: center;
	background-image: url(../img/clockwhite-svg.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	margin-left: 10px;
	padding-left: 20px;
}

.news-center__item {
	float: left;
	width: 220px;
	margin-bottom: 18px;
}

.news-center__item:nth-child(2n) {
	margin-right: 20px;
}

.center-item__title {
	margin-top: 0;
	margin-bottom: 8px;
}

.center-item__title a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
.center-item__props{
	font-size: 12px;
	padding-bottom: 12px;
}

.center-props__category {
	float: left;
	color: #91919f;
	text-decoration: none;
}

.center-props__right {
	float: right;

}

.center-props__time {
	padding-left: 15px;
	padding-right: 16px;
	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
}

.center-props__comment {
	padding-left: 15px;
	padding-right: 57px;
	background-image: url('../img/icon-comments.png');
	background-repeat: no-repeat;
}


.main__right {
	width: 250px;
	float: right;
}

.main__right img {
	margin-bottom: 16px;
}

.main__bottom {
	float: left;
	width: 1000px;
	background-color: #fff;
}

.main-bottom__title {
	float: right;
	width: 414px;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 22px;
	padding-left: 20px;
	border-bottom: 1px solid #e5e5e5;
}


.main-bottom__news {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}


.bottom-left {
	float: left;
	position: relative;
	width: 586px;
}

.bottom-left a {
	text-decoration: none;
	color: #FFFFFF;
}


.bottom-left__title {
	position: absolute;
	top: 130px;
	width: 345px;
	padding-left: 20px;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;	
}

.bottom-left__details {
	position: absolute;
	top: 300px;
	width: 470px;
	padding-left: 22px;
	color: #FFFFFF;
	font-size: 13px;

}

.bottom-left__category {
	position: absolute;
	top: 105px;
	padding-left: 22px;
	color: #FFFFFF;
	font-size: 12px;
}

.bottom-left__time {
	position: absolute;
	color: #FFFFFF;
	top:255px;
	padding-left: 23px;
	font-size: 12px;
}



.bottom-left__time span {
	text-align: center;
	background-image: url(../img/clockwhite-svg.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	margin-left: 10px;
	padding-left: 16px;
}

.bottom-item {
	float: left;
	margin-bottom: 24px;
	width: 414px;
}

.bottom-item__title {
	margin-top: 0;
	margin-bottom: 8px;
	padding-top: 8px;
	padding-left: 20px;
}

.bottom-item__title a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
.bottom-item__props{
	font-size: 12px;
	padding-bottom: 12px;
	padding-top: 4px;
}

.bottom-props__category {
	float: left;
	padding-left: 23px;
	color: #91919f;
	text-decoration: none;
}

.bottom-props__right {
	float: right;
	padding-right: 175px;

}

.bottom-props__time {
	padding-left: 15px;
	padding-right: 16px;
	background-image: url('../img/icon-time.png');
	background-repeat: no-repeat;
}

.bottom-props__comment {
	padding-left: 15px;
	padding-right: 57px;
	background-image: url('../img/icon-comments.png');
	background-repeat: no-repeat;
}

.footer {
	padding-top: 54px;
	background-color: #00122f;
	color: #fff
}

.footer ul {
list-style-type: none;
padding:0;
}

.footer a {
	text-decoration: none;
	color: #fff;
}


.footer-left {
	float: left;
	margin-right: 198px;
}
.footer-left__list {
columns: 2;
column-gap: 40px;
margin: 0;
}

.footer-left__item {
  margin-bottom: 15px;
}

.footer-center {
	float: left;
	padding-top: 6px;
}

.footer-center__item {
  margin-bottom: 15px;
}

.footer-right {
	float: right;
}

.footer-right__icons {
	margin: 0;
}

	
.footer-right__icons li {
  display: inline-block;
  padding-left: 13px;
}

.footer-right__vk {
	display: block;
	width: 43px;
	height: 49px;
	background-image: url(../img/vk.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-right__f {
	display: block;
	width: 43px;
	height: 49px;
	background-image: url(../img/fb.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-right__tw {
	display: block;
	width: 43px;
	height: 49px;
	background-image: url(../img/tw.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-right__inst {
	display: block;
	width: 43px;
	height: 49px;
	background-image: url(../img/inst.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.footer-right__list {
	margin-top: 33px;;
}

.footer-right__tel {
	margin-left: 14px;
	padding-left: 36px;
	background-image: url(../img/call-answer-svg.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
}

.footer-right__email {
	margin-top: 26px;
	margin-left: 16px;
	padding-left: 34px;
	background-image: url(../img/envelope-svg.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 12px;
}

.footer__bottom {
	text-align: center;
	font-size: 14px;
	padding: 18px;
	margin-top: 40px;
	border-top: 1px solid #fff;
}

.rates {
	float: left;
	margin-top: 30px;
}

.dollar__rate {	
	padding-left: 12px;
  background-image: url(../img/dollar.png);
  background-repeat: no-repeat;
  background-position: left;
	background-size: 10px 20px;
	text-align: center;
}

.euro__rate {
	margin-left: 15px;	
	padding-left: 17px;
  background-image: url(../img/euro.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 12px 15px;
}

.fixed {
	position: fixed;
	width: 100%;
}
